:root {
 --pink: #dc2977;
 --bg: #0a0a0a;
 --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'work sans', sans-serif;
    min-height: 2000px;
}

.hero::before{
    min-height: 100vh;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(image/groom-putting-ring-bride-s-finger.jpg);
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
     text-shadow: var(--shadow);
}

.her h1, .heroh4, .hero p {
    text-shadow: var(--shadow);
}
.hero h1 {
   font-family: "Sacramento", cursive;
   font-size: 4rem;
   color: black;
}

.hero h4 {
    font-size: 1,6rem;
}

.hero p {
    font-size: 1,4rem;
}

.hero a {
    color: var(--pink);
    background-color: white;
}
.box {
    background-color: blue;
    border-radius: 50px;
}
.btn-lg {
    position: absolute; 
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
}

.undangan {
background: #73ee36;
}
.float-start {
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  border: 2px solid gold;
  object-fit: cover;
  margin-right: 20px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


 
.float-start:hover {
  transform: translateY(-5px); /* Gentle float effect */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
.hero a:hover {
    background-color: var(--pink);
    color:white;
}